* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}


body {
	font-family: 'Montserrat', sans-serif;
	background-image: url("../images/site-background.png");
	margin: 0;
	padding: 0;
}



h1,h2,h3,h3,h4 {
	font-family: 'Oswald', sans-serif;
}



/* MAIN HEADER */

#main-header {
	background: #fff;
	height: 64px;
	border-bottom: 1px solid #ddd;
}

#main-header h1 {
	margin-top: 0;
	background-color: #dd3333;
	color: #fff;
	display: inline;
	float: left;
	padding: 10px;
	text-transform: uppercase;

}

#main-header ul {
	list-style-type: none;
	margin: 0;
    padding: 0;
	float: right;

}

#main-header li {
	display: inline;
	vertical-align: middle;
    line-height: 64px;
    margin-right: 10px;  

}

#main-header li a {
	text-decoration: none;
	color: #333;
}

#main-header li a:hover {
	color: #dd3333;
}

/* MAIN CONTENT */

.main-content {
	width: 960px;
	margin: auto;
}

#mugshot {
	float: left;
	padding-right: 10px;
}

#main-container {
	margin: 50px 0;
	overflow: hidden;
}

main {
	width: 650px;
	float: left;
	background: #fff;
	padding: 20px;


}

aside {
	width: 270px;
	float: left;
	background: #fff;
	padding: 20px;
	margin: 0 20px;
}

aside ul {
	list-style-type: none;
}

aside ul li {
	display: inline;
	margin-right: 10px;
}

aside ul li a {
	text-decoration: none;
}

footer {
	clear: both;
	background: #ddd;
	color: #333;
	text-align: center;
	padding: 40px;
	border-top: 2px solid #dd3333;
}
